.container footer {
    background-color: var(--black);
    color: var(--white);
}

.container footer .footerBoxes {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 5rem 15rem;
}

@media only screen and (max-width: 1000px) {
    .container footer .footerBoxes {
        padding: 5rem;
    }
}

@media only screen and (max-width: 600px) {
    .container footer .footerBoxes {
        flex-direction: column;
    }
}

@media only screen and (max-width: 380px) {
    .container footer .footerBoxes {
        padding: 1rem;
    }
}

.container footer .footerBoxes .footerBox h3 {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    padding-bottom: 0.5rem;
}

.container footer .footerBoxes .footerBox hr {
    height: 0.1rem;
    width: 4rem;
    background: rgba(255, 255, 255, 0.24);
    border: 0;
    margin-bottom: 1.5rem;
}

.container footer .footerBoxes .footerBox p {
    font-size: 1.4rem;
    color: #656565;
}

.container footer .splitter {
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background: var(--white);
    border: 0;
    margin-bottom: 1.5rem;
}

.container footer .copy-right {
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    opacity: 0.8;
    padding: 1rem 2rem 2rem 2rem;
}