.container .services {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    text-align: center;
    margin: 3rem 10rem;
    gap: 3rem;
}

.container .services .service {
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    padding: 0rem 2rem 2rem 2rem;
    cursor: none;
    transition: 0.3s;
    height: 27rem;
    width: 30%;
    flex-grow: 1;
}

.container .services .service:hover {
    background-color: #d6d6d6;
    cursor: cell;
    position: relative;
    transition: 0.3s;
}

.container .services .service img {
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 1.5rem 0rem 0.5rem 0rem;
    transition: 0.3s;
}

.container .services .service:hover img {
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0.5rem 0rem 1.5rem 0rem;
    transition: 0.3s;
}

.container .services .service h3 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #2b2b2b;
    margin-bottom: 0.5rem;
}

.container .services .service p {
    color: #949494;
    font-size: 1.5rem;
}

.container .services .service:hover p {
    color: black;
}

@media only screen and (max-width: 1124px) {
    .container .services {
        margin: 3rem;
    }
}

@media only screen and (max-width: 1025px) {
    .container .services {
        flex-wrap: wrap;
    }

    .container .services .service:nth-child(1) {
        width: 45%;
    }
    
    .container .services .service:nth-child(2) {
        width: 45%;
    }

    .container .services .service:nth-child(3) {
        width: 100%;
    }
}

@media only screen and (max-width: 625px) {
    .container .services .service {
        width: 100% !important;
    }
}

@media only screen and (max-width: 361px) {
    .container .services {
        margin: 1rem;
    }
}

@media only screen and (max-width: 330px) {
    .container .services .service {
        height: max-content;
    }
}